
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=2, shrink-to-fit=yes"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <table class="table table-bordered table-striped table-dark caption-top" style="margin: 0">
      <thead class="thead-light">
        <tr>
          <th colspan="4"><h1>{{rsn}}</h1><div style="width: 100%; display: flex; justify-content: space-between;" class="h3"><span>RS3 Gainz</span><span class="text-right text-muted">{{lateMessage}}</span></div></th>
        </tr>
        <tr>
          <th><small class="text-muted h3">{{timestamp}}</small></th>
          <th class="h3">Today{{#if today.late}} *{{/if}}</th>
          <th class="h3">Yesterday{{#if yesterday.late}} *{{/if}}</th>
          <th class="h3">This Week{{#if week.late}} *{{/if}}</th>
        </tr>
        <tr>
          <th class="h3">Skill</th>
          <th class="h3">XP</th>
          <th class="h3">XP</th>
          <th class="h3">XP</th>
        </tr>
      </thead>
      <tbody>
        {{#rows}}
          <tr>
            <td class="h4">{{name}}</td>
            {{#snapshots}}
              <td class="{{xpClass}} h5" style="text-align: right; padding-right: 2rem;">{{xp}}</td>
            {{/snapshots}}
          </tr>
        {{/rows}}
      </tbody>
    </table>
  </body>
</html>
