
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=2, shrink-to-fit=yes"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <table class="table table-bordered table-striped table-dark caption-top" style="margin: 0">
      <thead class="thead-light">
        <tr>
          <th colspan="13"><h1>Convergent</h1><div style="width: 100%; display: flex; justify-content: space-between;"><span>RS3 Stats</span><span class="text-right text-muted">{{lateMessage}}</span></div></th>
        </tr>
        <tr>
          <th><small class="text-muted">Thu, 20 Jan 2022 22:15:30 GMT</small></th>
          <th colspan="3">Total</th>
          <th colspan="3">Today{{#if today.late}} *{{/if}}</th>
          <th colspan="3">Yesterday{{#if yesterday.late}} *{{/if}}</th>
          <th colspan="3">This Week{{#if week.late}} *{{/if}}</th>
        </tr>
        <tr>
          <th>Skill</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
          <th>Level</th>
          <th>XP</th>
          <th>Rank</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Overall</td>
          <td>{{total.overall.level}}</td>
          <td>{{total.overall.xp}}</td>
          <td>{{total.overall.rank}}</td>
          <td>{{today.overall.level}}</td>
          <td>{{today.overall.xp}}</td>
          <td>{{today.overall.rank}}</td>
          <td>{{yesterday.overall.level}}</td>
          <td>{{yesterday.overall.xp}}</td>
          <td>{{yesterday.overall.rank}}</td>
          <td>{{week.overall.level}}</td>
          <td>{{week.overall.xp}}</td>
          <td>{{week.overall.rank}}</td>
        </tr>
        <tr>
          <td>Attack</td>
          <td>{{total.attack.level}}</td>
          <td>{{total.attack.xp}}</td>
          <td>{{total.attack.rank}}</td>
          <td>{{today.attack.level}}</td>
          <td>{{today.attack.xp}}</td>
          <td>{{today.attack.rank}}</td>
          <td>{{yesterday.attack.level}}</td>
          <td>{{yesterday.attack.xp}}</td>
          <td>{{yesterday.attack.rank}}</td>
          <td>{{week.attack.level}}</td>
          <td>{{week.attack.xp}}</td>
          <td>{{week.attack.rank}}</td>
        </tr>
        <tr>
          <td>Defence</td>
          <td>{{total.defence.level}}</td>
          <td>{{total.defence.xp}}</td>
          <td>{{total.defence.rank}}</td>
          <td>{{today.defence.level}}</td>
          <td>{{today.defence.xp}}</td>
          <td>{{today.defence.rank}}</td>
          <td>{{yesterday.defence.level}}</td>
          <td>{{yesterday.defence.xp}}</td>
          <td>{{yesterday.defence.rank}}</td>
          <td>{{week.defence.level}}</td>
          <td>{{week.defence.xp}}</td>
          <td>{{week.defence.rank}}</td>
        </tr>
        <tr>
          <td>Strength</td>
          <td>{{total.strength.level}}</td>
          <td>{{total.strength.xp}}</td>
          <td>{{total.strength.rank}}</td>
          <td>{{today.strength.level}}</td>
          <td>{{today.strength.xp}}</td>
          <td>{{today.strength.rank}}</td>
          <td>{{yesterday.strength.level}}</td>
          <td>{{yesterday.strength.xp}}</td>
          <td>{{yesterday.strength.rank}}</td>
          <td>{{week.strength.level}}</td>
          <td>{{week.strength.xp}}</td>
          <td>{{week.strength.rank}}</td>
        </tr>
        <tr>
          <td>Constitution</td>
          <td>{{total.constitution.level}}</td>
          <td>{{total.constitution.xp}}</td>
          <td>{{total.constitution.rank}}</td>
          <td>{{today.constitution.level}}</td>
          <td>{{today.constitution.xp}}</td>
          <td>{{today.constitution.rank}}</td>
          <td>{{yesterday.constitution.level}}</td>
          <td>{{yesterday.constitution.xp}}</td>
          <td>{{yesterday.constitution.rank}}</td>
          <td>{{week.constitution.level}}</td>
          <td>{{week.constitution.xp}}</td>
          <td>{{week.constitution.rank}}</td>
        </tr>
        <tr>
          <td>Ranged</td>
          <td>{{total.ranged.level}}</td>
          <td>{{total.ranged.xp}}</td>
          <td>{{total.ranged.rank}}</td>
          <td>{{today.ranged.level}}</td>
          <td>{{today.ranged.xp}}</td>
          <td>{{today.ranged.rank}}</td>
          <td>{{yesterday.ranged.level}}</td>
          <td>{{yesterday.ranged.xp}}</td>
          <td>{{yesterday.ranged.rank}}</td>
          <td>{{week.ranged.level}}</td>
          <td>{{week.ranged.xp}}</td>
          <td>{{week.ranged.rank}}</td>
        </tr>
        <tr>
          <td>Prayer</td>
          <td>{{total.prayer.level}}</td>
          <td>{{total.prayer.xp}}</td>
          <td>{{total.prayer.rank}}</td>
          <td>{{today.prayer.level}}</td>
          <td>{{today.prayer.xp}}</td>
          <td>{{today.prayer.rank}}</td>
          <td>{{yesterday.prayer.level}}</td>
          <td>{{yesterday.prayer.xp}}</td>
          <td>{{yesterday.prayer.rank}}</td>
          <td>{{week.prayer.level}}</td>
          <td>{{week.prayer.xp}}</td>
          <td>{{week.prayer.rank}}</td>
        </tr>
        <tr>
          <td>Magic</td>
          <td>{{total.magic.level}}</td>
          <td>{{total.magic.xp}}</td>
          <td>{{total.magic.rank}}</td>
          <td>{{today.magic.level}}</td>
          <td>{{today.magic.xp}}</td>
          <td>{{today.magic.rank}}</td>
          <td>{{yesterday.magic.level}}</td>
          <td>{{yesterday.magic.xp}}</td>
          <td>{{yesterday.magic.rank}}</td>
          <td>{{week.magic.level}}</td>
          <td>{{week.magic.xp}}</td>
          <td>{{week.magic.rank}}</td>
        </tr>
        <tr>
          <td>Cooking</td>
          <td>{{total.cooking.level}}</td>
          <td>{{total.cooking.xp}}</td>
          <td>{{total.cooking.rank}}</td>
          <td>{{today.cooking.level}}</td>
          <td>{{today.cooking.xp}}</td>
          <td>{{today.cooking.rank}}</td>
          <td>{{yesterday.cooking.level}}</td>
          <td>{{yesterday.cooking.xp}}</td>
          <td>{{yesterday.cooking.rank}}</td>
          <td>{{week.cooking.level}}</td>
          <td>{{week.cooking.xp}}</td>
          <td>{{week.cooking.rank}}</td>
        </tr>
        <tr>
          <td>Woodcutting</td>
          <td>{{total.woodcutting.level}}</td>
          <td>{{total.woodcutting.xp}}</td>
          <td>{{total.woodcutting.rank}}</td>
          <td>{{today.woodcutting.level}}</td>
          <td>{{today.woodcutting.xp}}</td>
          <td>{{today.woodcutting.rank}}</td>
          <td>{{yesterday.woodcutting.level}}</td>
          <td>{{yesterday.woodcutting.xp}}</td>
          <td>{{yesterday.woodcutting.rank}}</td>
          <td>{{week.woodcutting.level}}</td>
          <td>{{week.woodcutting.xp}}</td>
          <td>{{week.woodcutting.rank}}</td>
        </tr>
        <tr>
          <td>Fletching</td>
          <td>{{total.fletching.level}}</td>
          <td>{{total.fletching.xp}}</td>
          <td>{{total.fletching.rank}}</td>
          <td>{{today.fletching.level}}</td>
          <td>{{today.fletching.xp}}</td>
          <td>{{today.fletching.rank}}</td>
          <td>{{yesterday.fletching.level}}</td>
          <td>{{yesterday.fletching.xp}}</td>
          <td>{{yesterday.fletching.rank}}</td>
          <td>{{week.fletching.level}}</td>
          <td>{{week.fletching.xp}}</td>
          <td>{{week.fletching.rank}}</td>
        </tr>
        <tr>
          <td>Fishing</td>
          <td>{{total.fishing.level}}</td>
          <td>{{total.fishing.xp}}</td>
          <td>{{total.fishing.rank}}</td>
          <td>{{today.fishing.level}}</td>
          <td>{{today.fishing.xp}}</td>
          <td>{{today.fishing.rank}}</td>
          <td>{{yesterday.fishing.level}}</td>
          <td>{{yesterday.fishing.xp}}</td>
          <td>{{yesterday.fishing.rank}}</td>
          <td>{{week.fishing.level}}</td>
          <td>{{week.fishing.xp}}</td>
          <td>{{week.fishing.rank}}</td>
        </tr>
        <tr>
          <td>Firemaking</td>
          <td>{{total.firemaking.level}}</td>
          <td>{{total.firemaking.xp}}</td>
          <td>{{total.firemaking.rank}}</td>
          <td>{{today.firemaking.level}}</td>
          <td>{{today.firemaking.xp}}</td>
          <td>{{today.firemaking.rank}}</td>
          <td>{{yesterday.firemaking.level}}</td>
          <td>{{yesterday.firemaking.xp}}</td>
          <td>{{yesterday.firemaking.rank}}</td>
          <td>{{week.firemaking.level}}</td>
          <td>{{week.firemaking.xp}}</td>
          <td>{{week.firemaking.rank}}</td>
        </tr>
        <tr>
          <td>Crafting</td>
          <td>{{total.crafting.level}}</td>
          <td>{{total.crafting.xp}}</td>
          <td>{{total.crafting.rank}}</td>
          <td>{{today.crafting.level}}</td>
          <td>{{today.crafting.xp}}</td>
          <td>{{today.crafting.rank}}</td>
          <td>{{yesterday.crafting.level}}</td>
          <td>{{yesterday.crafting.xp}}</td>
          <td>{{yesterday.crafting.rank}}</td>
          <td>{{week.crafting.level}}</td>
          <td>{{week.crafting.xp}}</td>
          <td>{{week.crafting.rank}}</td>
        </tr>
        <tr>
          <td>Smithing</td>
          <td>{{total.smithing.level}}</td>
          <td>{{total.smithing.xp}}</td>
          <td>{{total.smithing.rank}}</td>
          <td>{{today.smithing.level}}</td>
          <td>{{today.smithing.xp}}</td>
          <td>{{today.smithing.rank}}</td>
          <td>{{yesterday.smithing.level}}</td>
          <td>{{yesterday.smithing.xp}}</td>
          <td>{{yesterday.smithing.rank}}</td>
          <td>{{week.smithing.level}}</td>
          <td>{{week.smithing.xp}}</td>
          <td>{{week.smithing.rank}}</td>
        </tr>
        <tr>
          <td>Mining</td>
          <td>{{total.mining.level}}</td>
          <td>{{total.mining.xp}}</td>
          <td>{{total.mining.rank}}</td>
          <td>{{today.mining.level}}</td>
          <td>{{today.mining.xp}}</td>
          <td>{{today.mining.rank}}</td>
          <td>{{yesterday.mining.level}}</td>
          <td>{{yesterday.mining.xp}}</td>
          <td>{{yesterday.mining.rank}}</td>
          <td>{{week.mining.level}}</td>
          <td>{{week.mining.xp}}</td>
          <td>{{week.mining.rank}}</td>
        </tr>
        <tr>
          <td>Herblore</td>
          <td>{{total.herblore.level}}</td>
          <td>{{total.herblore.xp}}</td>
          <td>{{total.herblore.rank}}</td>
          <td>{{today.herblore.level}}</td>
          <td>{{today.herblore.xp}}</td>
          <td>{{today.herblore.rank}}</td>
          <td>{{yesterday.herblore.level}}</td>
          <td>{{yesterday.herblore.xp}}</td>
          <td>{{yesterday.herblore.rank}}</td>
          <td>{{week.herblore.level}}</td>
          <td>{{week.herblore.xp}}</td>
          <td>{{week.herblore.rank}}</td>
        </tr>
        <tr>
          <td>Agility</td>
          <td>{{total.agility.level}}</td>
          <td>{{total.agility.xp}}</td>
          <td>{{total.agility.rank}}</td>
          <td>{{today.agility.level}}</td>
          <td>{{today.agility.xp}}</td>
          <td>{{today.agility.rank}}</td>
          <td>{{yesterday.agility.level}}</td>
          <td>{{yesterday.agility.xp}}</td>
          <td>{{yesterday.agility.rank}}</td>
          <td>{{week.agility.level}}</td>
          <td>{{week.agility.xp}}</td>
          <td>{{week.agility.rank}}</td>
        </tr>
        <tr>
          <td>Thieving</td>
          <td>{{total.thieving.level}}</td>
          <td>{{total.thieving.xp}}</td>
          <td>{{total.thieving.rank}}</td>
          <td>{{today.thieving.level}}</td>
          <td>{{today.thieving.xp}}</td>
          <td>{{today.thieving.rank}}</td>
          <td>{{yesterday.thieving.level}}</td>
          <td>{{yesterday.thieving.xp}}</td>
          <td>{{yesterday.thieving.rank}}</td>
          <td>{{week.thieving.level}}</td>
          <td>{{week.thieving.xp}}</td>
          <td>{{week.thieving.rank}}</td>
        </tr>
        <tr>
          <td>Slayer</td>
          <td>{{total.slayer.level}}</td>
          <td>{{total.slayer.xp}}</td>
          <td>{{total.slayer.rank}}</td>
          <td>{{today.slayer.level}}</td>
          <td>{{today.slayer.xp}}</td>
          <td>{{today.slayer.rank}}</td>
          <td>{{yesterday.slayer.level}}</td>
          <td>{{yesterday.slayer.xp}}</td>
          <td>{{yesterday.slayer.rank}}</td>
          <td>{{week.slayer.level}}</td>
          <td>{{week.slayer.xp}}</td>
          <td>{{week.slayer.rank}}</td>
        </tr>
        <tr>
          <td>Farming</td>
          <td>{{total.farming.level}}</td>
          <td>{{total.farming.xp}}</td>
          <td>{{total.farming.rank}}</td>
          <td>{{today.farming.level}}</td>
          <td>{{today.farming.xp}}</td>
          <td>{{today.farming.rank}}</td>
          <td>{{yesterday.farming.level}}</td>
          <td>{{yesterday.farming.xp}}</td>
          <td>{{yesterday.farming.rank}}</td>
          <td>{{week.farming.level}}</td>
          <td>{{week.farming.xp}}</td>
          <td>{{week.farming.rank}}</td>
        </tr>
        <tr>
          <td>Runecrafting</td>
          <td>{{total.runecrafting.level}}</td>
          <td>{{total.runecrafting.xp}}</td>
          <td>{{total.runecrafting.rank}}</td>
          <td>{{today.runecrafting.level}}</td>
          <td>{{today.runecrafting.xp}}</td>
          <td>{{today.runecrafting.rank}}</td>
          <td>{{yesterday.runecrafting.level}}</td>
          <td>{{yesterday.runecrafting.xp}}</td>
          <td>{{yesterday.runecrafting.rank}}</td>
          <td>{{week.runecrafting.level}}</td>
          <td>{{week.runecrafting.xp}}</td>
          <td>{{week.runecrafting.rank}}</td>
        </tr>
        <tr>
          <td>Hunter</td>
          <td>{{total.hunter.level}}</td>
          <td>{{total.hunter.xp}}</td>
          <td>{{total.hunter.rank}}</td>
          <td>{{today.hunter.level}}</td>
          <td>{{today.hunter.xp}}</td>
          <td>{{today.hunter.rank}}</td>
          <td>{{yesterday.hunter.level}}</td>
          <td>{{yesterday.hunter.xp}}</td>
          <td>{{yesterday.hunter.rank}}</td>
          <td>{{week.hunter.level}}</td>
          <td>{{week.hunter.xp}}</td>
          <td>{{week.hunter.rank}}</td>
        </tr>
        <tr>
          <td>Construction</td>
          <td>{{total.construction.level}}</td>
          <td>{{total.construction.xp}}</td>
          <td>{{total.construction.rank}}</td>
          <td>{{today.construction.level}}</td>
          <td>{{today.construction.xp}}</td>
          <td>{{today.construction.rank}}</td>
          <td>{{yesterday.construction.level}}</td>
          <td>{{yesterday.construction.xp}}</td>
          <td>{{yesterday.construction.rank}}</td>
          <td>{{week.construction.level}}</td>
          <td>{{week.construction.xp}}</td>
          <td>{{week.construction.rank}}</td>
        </tr>
        <tr>
          <td>Summoning</td>
          <td>{{total.summoning.level}}</td>
          <td>{{total.summoning.xp}}</td>
          <td>{{total.summoning.rank}}</td>
          <td>{{today.summoning.level}}</td>
          <td>{{today.summoning.xp}}</td>
          <td>{{today.summoning.rank}}</td>
          <td>{{yesterday.summoning.level}}</td>
          <td>{{yesterday.summoning.xp}}</td>
          <td>{{yesterday.summoning.rank}}</td>
          <td>{{week.summoning.level}}</td>
          <td>{{week.summoning.xp}}</td>
          <td>{{week.summoning.rank}}</td>
        </tr>
        <tr>
          <td>Dungeoneering</td>
          <td>{{total.dungeoneering.level}}</td>
          <td>{{total.dungeoneering.xp}}</td>
          <td>{{total.dungeoneering.rank}}</td>
          <td>{{today.dungeoneering.level}}</td>
          <td>{{today.dungeoneering.xp}}</td>
          <td>{{today.dungeoneering.rank}}</td>
          <td>{{yesterday.dungeoneering.level}}</td>
          <td>{{yesterday.dungeoneering.xp}}</td>
          <td>{{yesterday.dungeoneering.rank}}</td>
          <td>{{week.dungeoneering.level}}</td>
          <td>{{week.dungeoneering.xp}}</td>
          <td>{{week.dungeoneering.rank}}</td>
        </tr>
        <tr>
          <td>Divination</td>
          <td>{{total.divination.level}}</td>
          <td>{{total.divination.xp}}</td>
          <td>{{total.divination.rank}}</td>
          <td>{{today.divination.level}}</td>
          <td>{{today.divination.xp}}</td>
          <td>{{today.divination.rank}}</td>
          <td>{{yesterday.divination.level}}</td>
          <td>{{yesterday.divination.xp}}</td>
          <td>{{yesterday.divination.rank}}</td>
          <td>{{week.divination.level}}</td>
          <td>{{week.divination.xp}}</td>
          <td>{{week.divination.rank}}</td>
        </tr>
        <tr>
          <td>Invention</td>
          <td>{{total.invention.level}}</td>
          <td>{{total.invention.xp}}</td>
          <td>{{total.invention.rank}}</td>
          <td>{{today.invention.level}}</td>
          <td>{{today.invention.xp}}</td>
          <td>{{today.invention.rank}}</td>
          <td>{{yesterday.invention.level}}</td>
          <td>{{yesterday.invention.xp}}</td>
          <td>{{yesterday.invention.rank}}</td>
          <td>{{week.invention.level}}</td>
          <td>{{week.invention.xp}}</td>
          <td>{{week.invention.rank}}</td>
        </tr>
        <tr>
          <td>Archaeology</td>
          <td>{{total.archaeology.level}}</td>
          <td>{{total.archaeology.xp}}</td>
          <td>{{total.archaeology.rank}}</td>
          <td>{{today.archaeology.level}}</td>
          <td>{{today.archaeology.xp}}</td>
          <td>{{today.archaeology.rank}}</td>
          <td>{{yesterday.archaeology.level}}</td>
          <td>{{yesterday.archaeology.xp}}</td>
          <td>{{yesterday.archaeology.rank}}</td>
          <td>{{week.archaeology.level}}</td>
          <td>{{week.archaeology.xp}}</td>
          <td>{{week.archaeology.rank}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
